<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>16384 포트폴리오</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../resources/styleSheets/index.css">
    <link rel="stylesheet" href="../../resources/styleSheets/common.css">

    <script src="https://kit.fontawesome.com/e099593f60.js" crossorigin="anonymous"></script>
    <script defer src="../../resources/scripts/index.js"></script>
</head>
<body>
<div class="wrapper">
    <section class="info">
        <span class="title">1 6 3 8 4</span>
        <img src="11.png">
        <span class="mid-title">fly_yeseul</span>
        <div class="contact-icons">
            <a class="icons" href="https://github.com/fly-yeseul" alt="github">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <span class="introduction">
            안녕하세요,<br>빨대같은 개발자 김예슬입니다.
        </span>

        <footer>
            <span class="copyright">Copyright 2022. Yeseul KIM all rights reserved</span>
        </footer>
    </section>
    <section class="detail-info">
        <div class="personal info">
            <span class="title">ABOUT ME</span>
            <span class="contents">
                안녕하세요. 백엔드 개발자 김예슬입니다.<br>
                국제학술대회 기획자로 일을 하다 "Hello World"를 출력하게 되었습니다.<br>
                배울 것이 많기에 앞으로 성장 할 일만 남아있습니다.<br>
                사람들과 소통하는 것을 좋아하며, 새로운 것 배우기를 좋아합니다.<br>
                문제를 해결할 때 가장 희열을 느끼며, 효율적으로 일하는 것을 좋아합니다.
            </span>
        </div>
        <div class="information">
            <div class="balls">
                <div class="mid-title">
                    <i class="fa-solid fa-user"></i>
                    <span class="title">이름</span>
                </div>
                <span class="sub-content">김예슬</span>
                <span class="remark">Yeseul Kim</span>
            </div>
            <div class="balls">
                <div class="mid-title">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="title">생년월일</span>
                </div>
                <span class="sub-content">1995.01.07</span>
            </div>
            <div class="balls">
                <div class="mid-title">
                    <i class="fa-solid fa-map-pin"></i>
                    <span class="title">주소지</span>
                </div>
                <span class="sub-content">대구광역시 수성구</span>
                <span class="remark">변동 가능</span>
            </div>
            <div class="balls">
                <div class="mid-title">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <span class="title">연락처</span>
                </div>

                <span class="sub-content">010-9649-5533</span>
            </div>
            <div class="balls">
                <div class="mid-title">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="title">이메일</span>
                </div>

                <button class="sub-content email" id="email">love0kys@gmail.com</button>
            </div>
            <div class="balls">
                <span class="title">github</span>
                <a class="sub-content" href="https://github.com/fly-yeseul">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </section>
</div>

<div class="content">
    <div class="content-wrap">
        <section class="skills">
            <div class="title-wrap">
                <span class="title">SKILLS</span>
                <span class="remark">써 본 기술들입니다.</span>
            </div>

            <div class="skill-wrap">
                <div class="backend skill">
                    <span class="skill-name">BACKEND</span>
                    <div class="image-container">
                        <img src="backend.png">
                    </div>
                </div>

                <div class="frontend skill">
                    <span class="skill-name">FRONTEND</span>
                    <div class="image-container">
                        <img class="stack htmlcssjs"
                             src="https://p92.hu/binaries/content/gallery/p92website/technologies/htmlcssjs-details.png">
                    </div>
                </div>

                <div class="versioncontroll skill">
                    <span class="skill-name">VERSION CONTROL</span>
                    <div class="image-container">
                        <img src="versioncontroll.png">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="projects">
    <div class="title">
        <span>PROJECTS</span>
    </div>

    <section class="content-wrap">
        <div class="left-content">
            <span class="project-title">인스타그램 클론코딩</span>
            <span class="project-period">2022.11 - 진행중, 1인 프로젝트</span>
            <img class="project-thumbnail" src="instagram.png">
            <a class="link" href="#" target="_blank">바로가기</a>
        </div>
        <div class="right-content">
            <span class="description">
                학원에서 웹개발 과정을 수료한 후 사용자 인터페이스의 가장 기본이 되는 CRUD를 숙달하기 위해 진행 중인 프로젝트입니다. SpringBoot를 이용해 제작 중이며, 스스로 여러 가지 오류들을 해결하고 있습니다. 이어 GCP를 이용한 배포까지 해 본 첫 프로젝트입니다.
            </span>
            <div class="table">
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">주요 기능</span>
                    <span class="t-content">회원가입 및 로그인, 회원 정보 수정을 포함한 인스타그램의 주요 게시판 기능 구현 중</span>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Github</span>
                    <a class="t-content link" href="https://github.com/fly-yeseul/qna" target="_blank">https://github.com/fly-yeseul/qna</a>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Backend</span>
                    <span class="t-content">SpringBoot, Mybatis</span>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Database</span>
                    <span class="t-content">MariaDB</span>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Frontend</span>
                    <span class="t-content">HTML, CSS, JavaScript</span>
                </aside>
            </div>


        </div>
    </section>

    <section class="content-wrap">
        <div class="left-content">
            <span class="project-title">쿠팡 클론코딩</span>
            <span class="project-period">2022.07, 1인 프로젝트</span>
            <img class="project-thumbnail" src="coupang.png">
            <a class="link" href="#" target="_blank">바로가기</a>
        </div>
        <div class="right-content">
            <span class="description">

            </span>
            <div class="table">
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">주요 기능</span>
                    <span class="t-content">회원가입 및 로그인, 간단한 상품 관리 및 재고 관리 기능</span>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Github</span>
                    <a class="t-content link" href="https://github.com/fly-yeseul/Coupang" target="_blank">https://github.com/fly-yeseul/Coupang</a>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Backend</span>
                    <span class="t-content">SpringBoot, Mybatis</span>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Database</span>
                    <span class="t-content">MariaDB</span>
                </aside>
                <aside class="block">
                    <i class="fa-solid fa-check"></i>
                    <span class="t-title">Frontend</span>
                    <span class="t-content">HTML, CSS, JavaScript</span>
                </aside>
            </div>


        </div>
    </section>

</div>


</body>

</html>